.card.mb-3 {
  background: rgb(123, 116, 237);
  background: linear-gradient(
    142deg,
    rgba(123, 116, 237, 1) 0%,
    rgba(255, 149, 0, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
}

.card-header {
  background: rgb(123, 116, 237);
  background: linear-gradient(
    142deg,
    rgba(123, 116, 237, 1) 44%,
    rgba(255, 149, 0, 1) 94%
  );
}

#humidity-wind {
  font-size: 25px;
}

.ordinal {
  vertical-align: super;
  font-size: 10px;
}

#city {
  text-align: center;
  color: black;
}

#icon-today {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 150px;
  left: 50px;
  height: 200px;
}

#currentDate,
#description {
  text-align: center;
  color: black;
}

div {
  text-align: center;
}
.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 5px 80px;
}

h1 {
  color: black;
}

.range {
  color: black;
  font-size: 15px;
  line-height: 10px;
}

.extras-align {
  display: inline-block;
  text-align: center;
}

.extras {
  text-align: left;
  line-height: 12px;
  font-size: 15px;
}

.description {
  color: black;
  font-size: 25px;
  line-height: 21px;
}

.feeling {
  font-size: 15px;
  color: black;
}

.min {
  color: blue;
}
.max {
  color: red;
}

#Celsius,
#Fahrenheit {
  border-radius: 10px;
}

#search-city-input,
#search,
#my-location {
  border-radius: 5px;
}

#gitHubButton {
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 10px;
  border: 3px solid #405781;
  text-decoration: none;
  background: #e76432;
  color: white;
  box-shadow: rgb(64, 87, 129, 0.5) 0px 8px 8px 0;
  cursor: pointer;
}

#gitHubButton:hover {
  background: white;
  color: #e76432;
}

#gitHub-link {
  color: #e4c42d;
  text-decoration: none;
  -webkit-text-stroke: 1px #e4c42d;
}

#joana {
  text-align: center;
}

#myself {
  text-decoration: none;
  color: #e76432;
}

.active {
  color: #e76432;
  font-weight: bolder;
}
